
#passers {
    transform: scale(1.1);
    background: #277BC0;
}

#passers a {
    color: white;
}

.right-side div {
    transform: scale();
    background: white;
}

.right-side div a {
    color: black;
}